<div class="row justify-content-center mt-5">
  <form [formGroup]="form" class="col-lg-4">
    <div class="form-group mt-5">
      <label for="currentPassword">Current Password</label>
      <input
        formControlName="currentPassword"
        id="currentPassword"
        class="form-control"
        type="text"
      />

      <div
        class="alert alert-danger"
        *ngIf="currentPassword?.touched && currentPassword?.invalid"
      >
        <div *ngIf="currentPassword?.errors?.required">
          Current Password is required!
        </div>

        <div
          *ngIf="
            !currentPassword?.pending &&
            currentPassword?.errors?.checkCurrentPassword
          "
        >
          Current Password is not correct!
        </div>
      </div>
    </div>

    <div formGroupName="newPasswordSection">

        
      <div class="form-group mt-5">
        <label for="newPassword">New Password</label>
        <input
          formControlName="newPassword"
          id="newPassword"
          class="form-control"
          type="password"
        />
        <div
          class="alert alert-danger"
          *ngIf="newPassword?.touched && newPassword?.invalid"
        >
          <div *ngIf="newPassword?.errors?.required">
            New Password is required!
          </div>
        </div>
      </div>

      <div class="form-group mt-5">
        <label for="confirmPassword">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          id="confirmPassword"
          class="form-control"
          type="password"
          (change)="CheckMatchness()"
        />
        <div
          class="alert alert-danger"
          *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
        >
          <div *ngIf="confirmPassword?.errors?.required">
            Confirm Password is required!
          </div>

          <div *ngIf="confirmPassword?.errors?.NotMatch">
            New Password and Confirm Password does not match!
          </div>
        </div>

        <div class="alert alert-success" *ngIf="isPasswordsMatch">
          New Password and Confirm Password are match.
        </div>
      </div>
    </div>

    <div class="form-group mt-5">
      <button class="btn btn-primary" (click)="changePassword()">
        CHANGE PASSWORD
      </button>
    </div>
  </form>
</div>
